In [5]:
nama = 'M. Atsal Hafidz'
usia = 18
sudah_menikah = False
hobi = 'Sepak Bola'

print('nama:',nama)
print('usia:',usia)
print('sudah menikah:',sudah_menikah )
print('hobi:',hobi)

nama: M. Atsal Hafidz
usia: 18
sudah menikah: False
hobi: Sepak Bola

In [6]:
a, b, c = 1,2, "Mantap"

print('a:', a)
print('b:', b)
print('c:', c)

a: 1
b: 2
c: Mantap

In [7]:
d = e = f = 10

print('d:', d)
print('e:', e)
print('f:', f)

d: 10
e: 10
f: 10

In [14]:
kota = 'Sukabumi'
luas = 500

print(type(kota))
print(type(luas))

<class 'str'>
<class 'int'>

In [24]:
panjang = 5
lebar = 10.5
luas = panjang*lebar

print(panjang,'*',lebar,'=',luas)
print("tipe dari variabel panjang:", type(panjang))
print("tipe dari variabel lebar:", type(lebar))
print("tipe dari variabel luas:", type(luas))

5 * 10.5 = 52.5
tipe dari variabel panjang: <class 'int'>
tipe dari variabel lebar: <class 'float'>
tipe dari variabel luas: <class 'float'>

In [26]:
#luas segitiga
alas = 10
tinggi = 5
rumus_luas = alas*tinggi*0.5

print('luas segitiga:', alas,'*',tinggi,'*',0.5,'=', rumus_luas)

luas segitiga: 10 * 5 * 0.5 = 25.0

In [30]:
#itung umur
tahun_sekarang = 2022
tahun_lahir = 2004
itung_umur = tahun_sekarang-tahun_lahir

print('itung umur:',tahun_sekarang,'-',tahun_lahir,'=',itung_umur)

itung umur: 2022 - 2004 = 18

In [31]:
#biodata
nama_depan = 'M.Atsal'
nama_belakang = 'Hafidz'
nama_lengkap = nama_depan + nama_belakang
usia = '18'
alamat = 'pangadegan'
kelas = 'Ti22E'
jurusan = 'Teknik Informatika'
kata_mutiara = 'kenapa kita harus iri, karena kita punya cerita sendiri'

print(nama_lengkap, '('+ usia +')',',','dari', alamat, ',kata mutiara:', kata_mutiara)

M.AtsalHafidz (18) , dari pangadegan ,kata mutiara: kenapa kita harus iri, karena kita punya cerita sendiri

In [34]:
print('saya'*3)

sayasayasaya

In [36]:
print('saya'+'saya')

sayasaya

In [37]:
print("saya\nsaya\nsaya")

saya
saya
saya

In [38]:
print("""
saya
saya
saya""")

saya
saya
saya

In [42]:
saya_orang_indonesia = True
saya_adalah_robot = False

print('apakah saya orang indonesia?', saya_orang_indonesia)
print('apakah saya adala robot?', saya_adalah_robot)
print('Tipe dari saya_orang_indonesia', type(saya_orang_indonesia))
print('Tipe dari saya_adalah_robot', type(saya_adalah_robot))

apakah saya orang indonesia? True
apakah saya adala robot? False
Tipe dari saya_orang_indonesia <class 'bool'>
Tipe dari saya_adalah_robot <class 'bool'>

In [44]:
foo = 12 < 10
print(foo)

foo = 10 < 12
print(foo)

foo = "A" == "a"
print(foo)

False
True
False